<% include partials/header %>

<header id="about-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-auto text-center">
                <h3>About Us</h3>
                <p> </p>
            </div>
        </div>
    </div>
</header>




<section id="pain " class="about-bio container py-5">
        <div class="row">
            
         <div class=" col-md-3 ">
            <h4 class="text-center">Haerry Kim</h4>
            
            <img src="https://i.imgur.com/Q6Bmo94.jpg"  alt="" class="mx-auto d-block about-img img-fluid rounded-circle">
            
            
            
            <ul class="py-5">
                <li> Designated Linklater Voice teacher 2007.</li> 
                <li> MFA in Acting from Columbia University.</li>
            
             <li>Member of Actors Equity Association.</li>
             <li>Member of Scree Actors Guild in the U.S.</li>
            </ul>
        </div>
        
            
        
    <div class="about-bio-text col-sm-9 col-md-9  ">
            
     <h5 class="py-3 text-center">김혜리 약력 </h5>


<p align=justify>뉴욕의 Columbia University 연극과 대학원에서 연기 전공 MFA 과정을 졸업했으며, <span>1999년부터 2002년까지 컬림비아 대학에서 크리스틴 링크레이터에게 발성법을 사사 받았다</span>. 2003년부터 링크레이터 발성 교수 자격증 취득과정을 시작하여, 크리스틴 링크레이터의 수업과 앤드리아 해링의 수업을 참관하면서 직접 교육법을 배웠다. 2007년 한국인으로는 처음으로 링크레이터 발성교수 자격을 취득하였다. 2005년부터 뉴욕의 PACE University에서 발성수업을 가르쳤고, 2007-2008년에는 잠시 귀국하여 한양대학교, 경희대학교, 국민대학교에서 연기와 발성을 가르쳤다. 2008년에 다시 뉴욕으로 돌아가 New York University Tisch school of the Arts 학부 과정과 NYU SCPS 프로그램에서도 호흡과 발성 및 화술을 가르쳤다. 2010년 한국으로 돌아와 국민대학교에서 연기 전임교수로 재직하면서 국립극단, 명동예술극장, 서울연극센터, 한국 연극인 복지 재단에서 운영하는 배우들을 위한 다양한 워크샵과 수업을 가르쳤다. 2017년에는 크리스틴 링크레이터 선생님을 대신하여 대만 카오슝 국립극장의 "링크레이터 보이스 워크샵"을 가르쳤다.</p> 
 
 <p align=justify class="py-3"> 2004년 부터 미국 Screen Actors Guild 와  Actors Equity Association (미국연극배우 노조)회원이 되었고, 배우로써 다양한 작품활동을 계속해 왔다.  "FACE(한국, 미국, 영국: 2009-2013)", "Bathtub Play: Part II(미국 2012)", "Songs of Dragons Flying to Heaven(미국, 노르웨이, 독일, 스위스, 프랑스, 벨기에: 2006-2010)", "리처드 3세(뉴욕)", "여름과 연기(예술의 전당)", "겨울이야기 (뉴욕)", "Coney Island Avenue(뉴욕)", "사랑해 4.16" 그 후외 다수의 연극에 출연하였고", "Law & Order(NBC)", "Law & Order SVU (NBC)"," Hope & Faith (ABC)", "W 32, Last Vacation", "Spa Night" 등의 영화와 TV에도 출연하였다. 2016년에 출연한 영화 <span>SPA NIGHT이 선댄스 영화제 극영화 본선 경쟁작으로 선정되었고</span>, 이 영화가 2017년 미국 독립영화계의 오스카라고 불리우는<span>Independent Spirit Awards에서 John Cassavetes Awards를 수상하였다.</span>  2010년부터 극단 ETS (eye to soul)의 연출, 작가 및 배우로도 활발한 작품활동을 해왔다.</p>


<h5 class="py-3 text-center">연출작</h5> <p>  "BENT", "사랑해 4월 16일 그 후", "FACE", "자베트", "욕조연극",

                "Hot House", "리처드 3세", "나이팅게일의 소리", "프로메테우스".</p>

<h5 class="py-3 text-center">극작</h5>  <p>"사랑해 4월 16일 그 후", "FACE"(한국어/영어), "욕조연극", "나이팅게일의 소리",

                 "Bathtub Play II"(영어).</p>
                 <hr class="py-2">
             <p align=justify>Haerry Kim is an actor, director, acting teacher and Designated Linklater Voice Teacher. She holds an MFA in Acting from Columbia University where she studied with Kristin Linklater from 1999 to 2002.  As an actor, she performed in NY and various cities in the US as well as other countries including Germany, South Korea, Switzerland, France, Belgium, Netherlands, and Norway. Some of her theater acting credits include the world premiere of “All is Not” by Melisa James Gibson, “Songs of Dragons Flying to Heaven” by Young Jean Lee, Alma in “Summer and Smoke” at the Seoul Arts Center (national theater), and "Richard III" directed by Andrei Serban. "FACE", her one person play about Korean Comfort Women during the World War II, was performed in South Korea, United States, and Scotland with critical acclaim. Most recently, she played Soyoung in "Spa Night", which was in the U.S. dramatic section at 2016 Sundance Film Festival. The film also won "John Cassavetes Award" at the Film Independent Spirit Awards in 2017.</p> 
            <hr>
        <p align=justify>She is currently teaching at Kookmin University in Seoul, South Korea. She is an artistic director at ETS theater company in Seoul. Her directing credits include "Prometheus", "FACE", "I Love you: After 4.16", "BENT", "Richard III", "The Hothouse", "Bathtub Play", "Sabeth", "Big Love", and "Sound of Nightingales". She taught professional voice classes at the National Theater Company of Korea, Myeong Dong Art Theater (National), Seoul Art Center, Seoul Theater Center, and various professional theaters in South Korea.</p>
        
        </div>
            
        
        </div>
             
    </div>

         
       
</section>


<hr>



<section id="pain" class=" bio  container py-5">
        <div class="row">
            <div class="col-md-3 m-auto text-center">
             <img src="https://i.imgur.com/wIcqQZk.jpg" alt="" class="about-img img-fluid rounded-circle">
            </div>
            <div class="bio-text col-md-6 ">
                <p align=justify>While translating Kristin Linklater’s “Freeing the Natural Voice” into Korean, she taught various acting and voice classes at Hanyang University (Seoul), Kookmin University (Seoul), and Kyunghee University (Seoul). In New York, she taught at PACE University and Tisch School of the Arts at NYU.
                    <span>She is currently teaching at Kookmin University in Seoul, South Korea</span>. She is an artistic director at ETS theater company in Seoul. <span>Her directing credits include</span> "Prometheus", "FACE", "I Love you: After 4.16", "BENT", "Richard III", "The Hothouse", "Bathtub Play", "Sabeth", "Big Love", and "Sound of Nightingales". 
                    She taught professional voice classes at the National Theater Company of Korea, Myeong Dong Art Theater (National), Seoul Art Center, Seoul Theater Center, and various professional theaters in South Korea.

                    She is also a member of the Actors Equity Association and Screen Actors Guild in the United States.
                </p>



    
        
        </div>
        </div>
    </div>
</section>
    <hr class="py-5">
  
<section id="about" class="py-3 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h3 class="text-info pb-3">
                        Linklater Community
                        </h3>
                        
                    </div>
                </div>
            </div>
            
                <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="https://i.imgur.com/bVsErfO.jpg">
                        <h4>Kristin Linklater</h4>
                        <h5 class="text-muted"><span>Founder</span></h5>
                        <p class="text-left"> Kristin Linklater is a world-renowned teacher of voice production who has pursued a highly successful academic and theatrical career in the United States and Europe for the past fifty years. She is one of the most recognised names in the field of voice production for actors having published two leading textbooks, Freeing the Natural Voice: Imagery and Art in the Practice of Voice and Text (1976; revised edition 2006) and Freeing Shakespeare’s Voice: The Actor’s Guide to Talking the Text (1992) which have sold over 150,000 copies and been translated into six languages.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-10 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h3 class="text-info pb-3">
                        Global Linklater Community
                        </h3>
                       
                        
                    </div>
                </div>
            </div>
            
             <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                    <p align=justify>As well as the Kristin Linklater Voice Centre there is a global network of Designated Linklater Teachers (DLT) that you can train with—affectionately called the 'Linkies'! They form an extensive, active and ever growing international community of teachers who support one another in their work.</p>
                    <a href="https://www.linklatervoice.com/" class="btn btn-warning btn-md">Click Here <-> Linklater Voice Centre</a>
                    <div id="arrow" <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>



  <% include partials/footer %>  
