<% include partials/header %>

<section id="author2" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="info-header mb-2">
                <h3 class="text-primary pb-3">
            Meet The Author
            </h3>
            </div>
        </div>
        </div>
    </div>
</header>
</section>



<section class="bg-light py-5">
 <div class="container">
 <div class="row text-center">
     <div class="col-sm-6">
         <div id="book" class="thumbnail">
 <img src="https://images-na.ssl-images-amazon.com/images/I/41mPPKkev%2BL._SX330_BO1,204,203,200_.jpg" alt="...">
 </div>
 </div>
       
<div class="col-sm-6">
    <div id="book" class="thumbnail">
   <img src="http://bimage.interpark.com/goods_image/5/8/8/9/202005889g.jpg" alt="...">
   <p></p>
   <p></p>
       <h5 align=justify>The book was translated into Korean by Haerry Kim in 2009 with the consent from Kristin Linklater. It is in the 4th print run.</h5>
          </div>
          </div>
          </div>
          </div>
</section>
  
<section  id="author"    class="py-10 py-5">
 <div class="container">
 <div class="row">
 <div class="col-md-6">

  <h5 class="py-2 text-left">The classic voice-training for actors, teachers of voice and anyone interested in vocal expression - by a pre-eminent voice teacher, actor and director. Fully revised and expanded edition. Linklater’s approach is to liberate the voice you have rather than apply vocal techniques from the outside. Her basic assumption is that everyone possesses a voice capable of expressing whatever emotion, mood or thought he/she experiences.</h5>


<h5 class="py-2 text-left">'a radical breakaway from the old formal methods... an invaluable new resource... essential'</h5>

Educational Theatre Journal

<h5 class="py-2 text-left">'the best and only work of its kind for vocal training'</h5>

Education Theatre News

<h5 class="py-2 text-left">"This book is a classic. Beyond the detailed technical expertise it contains, it resonates, in the ample sense of the word, with anyone slightly aware of the relation between mind and body. I only wish I would be disciplined enough to follow its teachings without fail. I know I would find and liberate whatever my natural voice is."</h5>

<h5 class="py-2 text-left">Antonio Damasio</h5>
<p class=" text-left">Director, Brain and Creativity Institute, University of Southern California, and author of Descartes' Error and Looking for Spinoza.</p>
</div>

<div class="col-md-3 m-auto text-center">
  
  <img src="https://i.imgur.com/Yykmt3L.jpg"  alt="" class="about-img img-fluid rounded-circle">
  <h3 class="py-3">Kristin Linklater</h3>
 <p></p>
 <h3><span>Author</span></h3>
 </div>
  </div>
 </div>
 </div>
 </section>
 
 <section id="news" class="py-10">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h5 class="display-3 mt-1 pt-1">
                        Additional Book From Kristin Linklater
                    </h5>
                    <p class="lead">We welcome people from all walks of life to a community
that explores, celebrates, and advances language and expression.</p>
                    
                </div>
                <div class="col-lg-6 ">
                    <img src="https://i.imgur.com/dzB5ZdJ.jpg" alt="" class="img-fluid ">
                </div>
            </div>
        </div>
    </div>
</section>
 
 

 







    



  


