<% include partials/header %>

<header id="contact-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h3>Contact Us</h3>
            </div>
        </div>
    </div>
</header>

<section id="contact" class=" bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
             <h4>Get In Touch</h4>
                        <form action="/contact" method="POST">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input name="name" type="text" class="form-control" placeholder="Name">
                                 </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                 </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <textarea name="msg" class="form-control" placeholder="Message" row="5"></textarea>
                                 </div>
                                 <div class="g-recaptcha text-center" data-sitekey="6LfmmDQUAAAAAJzFYLj-n0hI_LKgaSZ8NMvfELsJ">

                                 </div>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                        </form>
                        
                    </div>
                </div>
        </div>
       </div>     
    </div>
</section>


<h5 class="text-center">Email:   haerryat@yahoo.com</h5>

         



<section id="map" class=" bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
            
              <p>
    <a class="btn btn-info btn-large" href="/contact">Map</a>
     </p>
          
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.681889509411!2d126.99550831496464!3d37.609645129416506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cbd1dddcabfef%3A0xde7cc0e9a47b92bc!2sKookmin+University!5e0!3m2!1sen!2skr!4v1504060592522" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
        </div>
         </div>
         
         </section>
         
         
         
         
                    
         
                    
                    











 
    

 
 <% include partials/footer %> 
        
        
