<% include partials/header %>

<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3"></h1>
                        <p  class="lead"></p>
                            <a href="#" class="btn  btn-danger btn-lg">Welcome to Linklater Voice Korea</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3"></h1>
                        <p class="lead"></p>
                            
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3"></h1>
                        <p class="lead"></p>
                            
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        
        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
    
</section>
<script>
    $("#myCarousel").carousel();
</script>



<section id="welcome">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
        
            <p align=justify>링크레이터 발성법은 프로페셔널 배우부터 일반인들까지 누구나 자신의 음성을 이해하고 발전시킬 수 있는 명확한 훈련법을 제시합니다. 집에서, 일터에서, 야외에서 그리고 즐기기 위해서 혹은 직업상의 이유로 우리는 매일 음성을 사용합니다. 모든 음성은 개인적인 깊이를 가지고 있습니다. 링크레이터 발성법은 소통하고자 하는 "욕구"와  말하는 "사람"을 연결하도록 도와주고, 음성이 가지고 있는 표현의 잠재력을 극대화하도록 도와줍니다. 인간의 음성은 생각, 감정, 아이디어를 정확하게 드러낼 수 있는 3에서 4 옥타브에 달하는 소리를 가지고 있습니다. 링크레이터 발성법은 음성을 통해 표현할 수 있는 의식의 힘과 즐거움을 제공합니다.</P> 

<p align=justify><span>링크레이터 발성법은 단계적으로 구성된, 자유로운 음성을 위한 체계적이고 구체적인 연습훈련들로 이루어져 있습니다</span>. 신체적 자각, 이완, 호흡에 대한 인식, 공명에 대한 경험, 소리의 통로를 여는 법, 음성의 공명과 확장, 그리고 입술과 혀의 정확한 기능을 돕고 깨우는 훈련들로 이루어져 있습니다. 언어를 풍부한 표현력을 가지고 말할 수 있도록 하는 것이 궁극적인 목표입니다. 링크레이터 발성법은 음성의 범위를 확장하여, 힘 있으면서도 울림있는 음성, 의미와 톤에 있어서 민감하고 감수성있는 음성, 감정과 지성에 연결되어 살아있는 설득력을 가지는 음성을 되찾도록 합니다. <a href="https://www.linklatervoice.com/" class="btn btn-info btn-sm"> Linklatervoice.com  </a></p> 
<p align=justify class="py-3"> Seou, home to more than 10 million people, is undoubtedly the country’s economic hub, as well as an epicenter of arts and culture. The capital is also home to an alluring mix of the ancient and modern: steel-and-concrete, towering skyscrapers stand alongside centuries-old palaces, temples, and theaters. It is here, surrounded by the lush  Bukhansan National Park, is home to Linklater Voice of Korea.</p>

            </div>
        <div class="col-md-6">
            <img src="https://i.imgur.com/7FlifPsl.jpg" alt=""  class="about-img img-fluid rounded-circle">
            <p class="text-center py-3">2017 서울연극센터 워크샵 참가자 사진</p>
        </div>
        </div>
    </div>
</section>





<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-4 mb-4 text-center">
            <i class="fa fa-heart mb-2"></i>
            <h3>워크샵</h3>
            <a href="/see1" class="btn btn-danger btn-lg">2018 겨울 워크샵</a>
            <p>Workshops range from introductory level through to text work, verse-speaking and Shakespeare sonnets, speeches and scenes.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
            <i class="fa fa-hourglass-half mb-2"></i>
            <h3>개인 지도</h3>
            <a href="/see2" class="btn btn-intro btn-lg">Read More</a>
            <p>Private coaching sessions are designed to address your specific vocal and speech.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
            <i  class="fa fa-volume-up mb-2"></i>
            <h3>수업</h3>
            <a href="/see3" class="btn btn-intro btn-lg">Read More</a>
            <p>Connecting your authentic voice, Freeing the Natural Voice.</p>
            </div>
        </div>
    </div>
</section>


<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row"
        <div class="col">
            <div class="container pt-5">
                <h2>Soaring To New Heights</h2>
                <h5>Our mission is to provide the highest quality voice and speech. </h5>
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h3 class="text-success pb-3">
                        궁금하신가요?
                        </h3>
                        <p class="lead pb-3">
                          </p>
                     
                        
                        
                    </div>
                    
                    <div id="accordion" style="cursor:pointer" role="tablist">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <div href="#collapse1" data-target="#collapse1" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-arrow-circle-down"></i> 링크레이터 발성법은
                                    </div>
                                </h5>
                            </div>
                            
                            <div id="collapse1" class="collapse">
                            <div class="card-body">
                         <p align=justify>링크레이터 발성법은 세계적으로 널리 알려져 있는 배우 훈련을 위한 발성법입니다. 미국, 영국, 프랑스, 이태리, 러시아, 일본, 독일, 호주, 스위스, 오스트리아, 중국 등 세계 각국의 연기학교, 극장, 배우 훈련 프로그램에서 널리 교육되고 있습니다. 

우리나라에서는 2009년에 링크레이터 발성법 교과서인 “Freeing the Natural Voice”가 크리스틴 링크레이터의 제자인 김혜리에 의해 “자유로운 음성을 위하여”라는 제목으로 (저자와의 동의 하에) 출판되었고, 2010년부터 한국에서 링크레이터 발성법 교육자격증을 가진 김혜리에 의해 여러 교육기관에서 링크레이터 발성 수업이 진행되었습니다.

링크레이터 발성 교육자 자격증 보유자는 현재 세계적으로 약 150 여명이 있습니다. 링크레이터 발성법 교육자 자격증은 (Designated Linklater Voice Teacher) 보통 4년에서 5년 동안의 교육자 훈련과정을 거쳐서 선발된 사람들에게 주어집니다. 4년에서 5년의 훈련과정을 마친 후보자들이 미국과 유럽 지역에서 진행되는 1개월 워크샵에 최종적으로 참여하는 것으로 교육과정이 마무리됩니다. 

김혜리는 1999년부터 2002년 까지 뉴욕의 컬럼비아 대학 연극과 MFA 과정에서 크리스틴 링크레이터에게 발성법을 사사받고, 그 후로 2년동안 크리스틴 링크레이터의 컬럼비아 대학 MFA 수업을 참관하며 링크레이터 발성 교습법을 직접 사사 받았습니다. 뉴욕의 Master Teacher인 엔드리아 해링의 수업도 2년간 참관하며 교습법을 사사받았습니다. 그 이후에도 꾸준히 크리스틴 링크레이터, 메리 콘웨이, 앤드리아 해링, 나츠코 오하마 등의 마스터들과 작업하였습니다.</p> 


                            
                            </div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card-header" id="heading2">
                                <h5 class="mb-0">
                                    <div href="#collapse2" data-toggle="collapse"
                                    data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> 링크레이터 교육자 자격증 취득
                                    </div>
                                </h5>
                            </div>
                            
                            
                            <div id="collapse2" class="collapse">
                            <div class="card-body" "">
                           <p align=justify> 자세한 내용은 <a href="https://www.linklatervoice.com/" class="btn btn-success btn-sm"> www.linklatervoice.com </a> 에서 확인하실 수 있습니다. 
한국인의 자격증 취득은 한국 링크레이터 센터 이메일로 문의하시기 바랍니다. 4-5년의 교육과정이 Master Teacher와의 일대일 교육 및 수업 참관을 통해서 이루어지기 때문에 한국 교육생들은 김혜리 선생님에게 훈련을 받으시게 됩니다.  </p>


                            </div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card-header" id="heading3">
                                <h5 class="mb-0">
                                    <div href="#collapse3" data-toggle="collapse"
                                    data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> 흔한 오해
                                    </div>
                                </h5>
                            </div>
                            
                            <div id="collapse3" class="collapse ">
                            <div class="card-body">
                           <h5 class=" py-3"> 링크레이터 발성법은 처음부터 끝까지 이완과 호흡이다? </h5> 
<p align=justify>링크레이터 발성훈련 초기에는 신체적인 자각과 이완 그리고 호흡을 다루고 있으며, 이완과 호흡은 음성에 있어 매우 중요한 부분입니다. 하지만 전체 훈련법의 시작 단계이며, 링크레이터 훈련법은 진동, 소리의 경로, 공명, 음성의 확장, 다양한 울림판, 호흡력의 확장 및 표현까지 다양한 단계로 구성됩니다. 링크레이터 발성법이 한국에 처음 소개된 단계에 생긴 오해들이 (책으로 전달, 혹은 발성 교육자격증 소지자가 아닌 사람에 의한 수업진행) 다양한 방식으로 와전되었습니다. </p>
                           
                     <h5 class=" py-3">링크레이터는 영어식 화술법이다. </h5>
<p align=justify>링크레이터 발성법이나 발성법에 대한 지식이 전무한 사람에게서만 나올 수 있는 이야기 입니다. 음성과 몸과 생각을 연결하는 작업, 호흡을 자유롭게 하는 작업, 음성을 방해하는 요인을 제거하는 작업, 음성의 영역을 확장하는 작업, 조음기관의 불필요한 긴장을 제거하고 음성을 자유롭게 하는 것까지 음성에 대한 작업에 많은 비중을 두고 있습니다. 이것이 다른 발성법에 비해 음성 자체에 훨씬 더 큰 비중을 두고 있는 링크레이터 발성법이 여러 국가에서  배우훈련의 정규과정으로 교육되고 있는 이유이기도 합니다. 언어의 발음이나 사용에 있어서도 정확한 발음 자체에만 연연하는 기계적인 접근이 아니라, 소리가 가지고 있는 의미와 이미지를 통해 정확한 의도와 뉘앙스를 전달하는 능력을 기르는 화술 훈련(몸, 음성, 생각, 충동을 연결)을 병행합니다.  </p>


                            </div>
                            </div>
                        </div>
                    </div>
                    </section>
                    


 <% include partials/footer %>  



















