<% include partials/header %>



<section id="news" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        So What You Dream Of...
                    </h1>
                    <p class="lead">We welcome people from all walks of life to a community
that explores, celebrates, and advances language and expression.</p>
                    
                </div>
                <div class="col-lg-6">
                    <img src="https://i.imgur.com/dzB5ZdJ.jpg" alt="" class="img-fluid d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</section>
            
 







<% include partials/footer %> 