<% include partials/header %>

<header id="main-header"class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="fa fa-hourglass-half"></i>   Private lessons</h4>
            </div>
        </div>
    </div>
</header>


<section id="welcome">
    <div class="container" >
        <div class="row">
            
            <div class="col-md-4" >
                <p align=justify>링크레이터 자격증 취득을 위한 개인레슨과  전문 강연자와 배우들을 위한 레슨이 있습니다. 이메일로 문의하시기 바랍니다.  </p>
                
                <div></div>
                
                <div class="col-md-6 py-10">
            
                 <img src="https://i.imgur.com/KngXN6l.png?1">
                 <div></div>
                
                 <img src="https://i.imgur.com/LUyn72v.png">
                
                     <a href="https://www.facebook.com/ETS.TheaterCompany/?ref=aymt_homepage_panel" class="btn btn-intro btn-lg">ETS Theater Company</a>
                </div>
            </div>
            <div class="col-md-6" style="padding-bottom: 50px;">
                <img src="https://i.imgur.com/IXYcKdn.jpg" alt=""  class="about-img img-fluid rounded-circle">
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>


           


<% include partials/footer %> 