<% include partials/header %>


<section id="posts">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="text-warning pb-3 text-center">Latest Workshops</h4>
                  </div>
                  <table class="table table-striped">
                      <thead class="thead-inverse">
                          <tr>
                              <th></-></th>
                              <th>Timeline</th>
                              <th>Location</th>
                              <th>City</th>
                              <th></th>
                              </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td>Winter 2020</td>
                            <td>2020 겨울 워크샵: "자유로운 음성을 위하여 2"</td>
                            <td>Seoul</td>
                            <td><a href="/see1" class="btn btn-success">
                                <i class="fa fa-angle-double-right"></i> Workshop
                            </a></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td>Winter 2020</td>
                            <td>2020 겨울 워크샵: 서울 연극센터 – 플레이업 아카데미</td>
                            <td>Seoul</td>
                            <td><a href="/see1" class="btn btn-success">
                                <i class="fa fa-angle-double-right"></i> Workshop
                            </a></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td>Summer 2019</td>
                            <td>2019 겨울 워크샵: "자유로운 음성을 위하여 2"</td>
                            <td>Seoul</td>
                            <td><a href="/see1" class="btn btn-success">
                                <i class="fa fa-angle-double-right"></i> Workshop
                            </a></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td>Winter 2019</td>
                            <td>2019 겨울 워크샵: "자유로운 음성을 위하여 2"</td>
                            <td>Seoul</td>
                            <td><a href="/see1" class="btn btn-success">
                                <i class="fa fa-angle-double-right"></i> Workshop
                            </a></td>
                        </tr>
                          <tr>
                              <td scope="row"></td>
                              <td>winter 2018</td>
                              <td>2018 겨울 워크샵: "자유로운 음성을 위하여 2"</td>
                              <td>Seoul</td>
                              <td><a href="/see1" class="btn btn-success">
                                  <i class="fa fa-angle-double-right"></i> Workshop
                              </a></td>
                          </tr>
                          <tr>
                              <td scope="row"></td>
                              <td>Winter 2018</td>
                              <td>2018 겨울 워크샵: "자유로운 음성을 위하여 1"</td>
                              <td>Seoul</td>
                              <td><a href="/see1" class="btn btn-success">
                                  <i class="fa fa-angle-double-right"></i> Workshop
                              </a></td>
                          </tr>
                          <tr>
                              <td scope="row"></td>
                              <td>Summer 2017</td>
                              <td>The National Kaohsiung Center for the Arts in Taiwan</td>
                              <td>Kaohsiung, Taiwan</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2017</td>
                              <td>서울 연극센터 – 플레이업 아카데미 (심화과정)</td>
                              <td>Seoul</td>
                              <td><a href="/see1" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                          
                           <tr>
                              <td scope="row"></td>
                              <td>Winter 2016</td>
                              <td>Linklater Voice workshop for actors (극단 ETS 주최)</td>
                              <td>Seoul</td>
                              <td><a href="/see1" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2016</td>
                              <td>2016 서울 연극센터 – 플레이업 아카데미 (심화과정)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Winter 2016</td>
                              <td>Linklater Voice workshop for actors (극단 ETS 주최) </td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2015</td>
                              <td>서울 연극센터 – 플레이업 아카데미(호흡과 발성)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Winter 2014</td>
                              <td> 한국 예술인 복지재단 - 배우 재교육 프로그램 단체 지원 극단 새벽 (호흡과 발성 및 연기)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2013</td>
                              <td> 한국 예술인 복지재단 - 수요자 맞춤형 교육 워크샵 (호흡과 발성 및 연기)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2013</td></td>
                              <td> 서울 연극센터 - 플레이업 아카데미 (호흡과 발성)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2012</td>
                              <td> 명동예술극장 - 아마추어 배우교실 (발성과 화술)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2012</td>
                              <td>Berkshire Fringe Artist Workshop (언어와 소리를 이용한 연기 훈련)</td>
                              <td>Berkshire</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Winter 2011</td>
                              <td> 국립극단 - "키친" (보이스 코치)</td>
                              <td>Seoul </td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summder 2011</td>
                              <td> 국립극단 - 배우 아카데미 (배우 훈련 -소리와 신체의 발견)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                           <tr>
                              <td scope="row"></td>
                              <td>Summer 2010</td>
                              <td>명동예술극장 - 명동 배우교실 (발성과 화술)</td>
                              <td>Seoul</td>
                              <td><a href="" class="btn btn-secondary">
                                  <i class="fa fa-angle-double-right"></i>
                              </a></td>
                          </tr>
                          
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
     
 </section>
 
 
 
 


<section id="gallery" class="py-5">
    <div class="container">
        
        <div class="m-auto text-center">
        <h4> <i class="fa fa-camera-retro"></i>    Click to Enlarge</h4>
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="https://i.imgur.com/vthJLyp.jpg"
                data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="https://i.imgur.com/vthJLyp.jpg1"
                    class="img-fluid">
                </a>
                
            </div>
             <div class="col-md-4">
                <a href="https://i.imgur.com/Gv5gx9f.jpg"
                data-toggle="lightbox" data-gallery="img-gallery">
                    
                    <img src="https://i.imgur.com/Gv5gx9f.jpg2"
                    class="img-fluid">
                </a>
                
        </div>
         <div class="col-md-4">
                <a href="https://i.imgur.com/8YHEL88.jpg"
                data-toggle="lightbox" data-gallery="img-gallery">
                    
                    <img src="https://i.imgur.com/8YHEL88.jpg3"
                    class="img-fluid">
                </a>
    </div>
     <div class="col-md-4">
                <a href="https://i.imgur.com/vSreIjq.jpg"
                data-toggle="lightbox" data-gallery="img-gallery">
                    
                    <img src="https://i.imgur.com/vSreIjq.jpg4"
                    class="img-fluid">
                </a>
                </div>
                 <div class="col-md-4">
                <a href="https://i.imgur.com/ErKMFtD.jpg?3"
                data-toggle="lightbox" data-gallery="img-gallery">
                    
                    <img src="https://i.imgur.com/ErKMFtD.jpg?35"
                    class="img-fluid">
                </a>
                </div>
                 <div class="col-md-4">
                <a href="https://i.imgur.com/cjcQ63n.jpg"
                data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="https://i.imgur.com/cjcQ63n.jpg6"
                    class="img-fluid">
                </a>
                </div>
                
               <h5 class="py-5 text-center"> Various Photos from Taiwan, Korea, Italy, and Scotland</h5>
                 
</section>


 
         
        
    


<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>





<% include partials/footer %> 





 
    
    
    



